.input-text {
    @include highlight-text;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 16px;

    color: #7E7E82;
    resize: none;
    outline: none;

    &:hover {
        border: 1px solid $hover-background-color;

        &::placeholder {
            color: $hover-text-color;
        }
    }

    &:focus {
        border: 1px solid #B8FFEC;

        &::placeholder {
            color: #41F6D7;
        }
    }

    &::placeholder {
        color: #B5B6BC;
    }
}